<a href="https://colab.research.google.com/github/andreidore/machine_learning/blob/main/pyspark/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://mirror.efect.ro/apache/spark/spark-2.4.7/spark-2.4.7-bin-hadoop2.7.tgz
!tar xf spark-2.4.7-bin-hadoop2.7.tgz
!pip install -q findspark

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.7-bin-hadoop2.7"

In [3]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [4]:
spark

In [5]:
df=spark.read.json("people.json")

In [6]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df.columns

['age', 'name']

In [8]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [9]:
df.select("age").show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [10]:
df.withColumn("new_age",df["age"]*2).show()

+----+-------+-------+
| age|   name|new_age|
+----+-------+-------+
|null|Michael|   null|
|  30|   Andy|     60|
|  19| Justin|     38|
+----+-------+-------+

In [11]:
df.createOrReplaceTempView("people")

In [12]:
results=spark.sql("select * from people")
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [13]:
results=spark.sql("select * from people where age=19")
results.show()

+---+------+
|age|  name|
+---+------+
| 19|Justin|
+---+------+

In [14]:
df=spark.read.csv("appl_stock.csv")

In [15]:
df.head(5)

[Row(_c0='Date', _c1='Open', _c2='High', _c3='Low', _c4='Close', _c5='Volume', _c6='Adj Close'),
 Row(_c0='2010-01-04', _c1='213.429998', _c2='214.499996', _c3='212.38000099999996', _c4='214.009998', _c5='123432400', _c6='27.727039'),
 Row(_c0='2010-01-05', _c1='214.599998', _c2='215.589994', _c3='213.249994', _c4='214.379993', _c5='150476200', _c6='27.774976000000002'),
 Row(_c0='2010-01-06', _c1='214.379993', _c2='215.23', _c3='210.750004', _c4='210.969995', _c5='138040000', _c6='27.333178000000004'),
 Row(_c0='2010-01-07', _c1='211.75', _c2='212.000006', _c3='209.050005', _c4='210.58', _c5='119282800', _c6='27.28265')]

In [16]:
df.show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|       _c0|               _c1|               _c2|               _c3|               _c4|      _c5|               _c6|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [17]:
df = spark.read.csv("appl_stock.csv",inferSchema=True,header=True)

In [18]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [19]:
df.head(3)[0]

Row(Date=datetime.datetime(2010, 1, 4, 0, 0), Open=213.429998, High=214.499996, Low=212.38000099999996, Close=214.009998, Volume=123432400, Adj Close=27.727039)

In [21]:
df.filter("Close<500").select("Open").show()

+------------------+
|              Open|
+------------------+
|        213.429998|
|        214.599998|
|        214.379993|
|            211.75|
|        210.299994|
|212.79999700000002|
|209.18999499999998|
|        207.870005|
|210.11000299999998|
|210.92999500000002|
|        208.330002|
|        214.910006|
|        212.079994|
|206.78000600000001|
|202.51000200000001|
|205.95000100000001|
|        206.849995|
|        204.930004|
|        201.079996|
|192.36999699999998|
+------------------+
only showing top 20 rows

In [23]:
df.filter(df["Close"]<500).select("Close").show()

+------------------+
|             Close|
+------------------+
|        214.009998|
|        214.379993|
|        210.969995|
|            210.58|
|211.98000499999998|
|210.11000299999998|
|        207.720001|
|        210.650002|
|            209.43|
|            205.93|
|        215.039995|
|            211.73|
|        208.069996|
|            197.75|
|        203.070002|
|        205.940001|
|        207.880005|
|        199.289995|
|        192.060003|
|        194.729998|
+------------------+
only showing top 20 rows

In [25]:
df.filter((df["Close"]<500) & (df["Close"]>300)).show()

+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|               Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-10-13 00:00:00|        300.200008|        301.959995|        299.799999|300.14000699999997|157523100|         38.886005|
|2010-10-14 00:00:00|        301.690002|        302.469994|        300.400013|302.30998999999997|108824100|         39.167147|
|2010-10-15 00:00:00|307.43998700000003|             315.0|        304.909996|314.73999399999997|230548500|         40.777572|
|2010-10-18 00:00:00|        318.470013|        319.000011|        314.289997|        317.999989|273252700|         41.199936|
|2010-10-19 00:00:00|303.40000200000003|        313.770012|300.02000400000003|309.48999399999997|308196000|40.097384999999996|
|2010-10-20 00:00:00|        308.999996|        314.249996|306.86998700000004|        310.529991|180406100|         40.232126|
|2010-10-21 00:00:00|312.35999300000003|314.73999399999997|        306.799999|        309.520008|137865000|         40.101273|
|2010-10-22 00:00:00|309.07001099999997|310.03999300000004|        306.299988|307.47000099999997| 93194500|         39.835675|
|2010-10-25 00:00:00|        309.090012|        311.600002|308.44001000000003|        308.839993| 98115500|         40.013171|
|2010-10-26 00:00:00|306.86998700000004|        309.740013|        305.650013|        308.049988| 98232400|         39.910818|
|2010-10-27 00:00:00|307.65000499999996|         309.89999|305.59999799999997|307.83000899999996| 99750700|         39.882318|
|2010-10-28 00:00:00|        307.950012|             308.0|        300.899998|         305.23999|137762800|         39.546756|
|2010-10-29 00:00:00|        304.230007|        305.880005|300.87001000000004|            300.98|107627800|38.994834000000004|
|2010-11-01 00:00:00|302.22000099999997|305.59999799999997|        302.200001|        304.179993|105972300|         39.409423|
|2010-11-02 00:00:00|        307.000004|310.19001000000003|        307.000004|        309.360004|108482500|         40.080543|
|2010-11-03 00:00:00|311.37001000000004|        312.880005|308.52999900000003|        312.800003|127087100|         40.526228|
|2010-11-04 00:00:00|        315.449997|320.18001200000003|        315.029987|        318.270008|160622000|         41.234919|
|2010-11-05 00:00:00|        317.990002|319.57001099999997|            316.75|        317.130009| 90313300|         41.087222|
|2010-11-08 00:00:00|        317.199997|        319.769989|        316.759987|        318.620003| 70439600|         41.280264|
|2010-11-09 00:00:00|        321.049992|        321.300011|        314.499989|        316.079998| 95886000|         40.951183|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [26]:
df=spark.read.csv("sales_info.csv",inferSchema=True, header=True)

In [27]:
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+